.questionnaire-wrppr {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }
    .questionnaire-cntnr {
    height: 1174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }
    .questionnaire-section {
    width: 100%;
    position: relative;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    }
        