/*abt us hro sctn*/
.abt-us-q {
    position: relative;
    line-height: 80px;
    font-weight: 900;
}
.abt-us-q-hro-ttl-cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.abt-us-hro-cntnr {
    width: 100%;
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    box-sizing: border-box;
    border: 1px solid #4db7fe;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    background-image: url('../../assets/images/aboutus-hero-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    justify-content:center;
    padding: 0px 0px 50px;
    text-align: center;
    font-size: 96px;
    color: #2c3e50;
    font-family: Raleway;
} 
.abt-us-hro-cntnr img {
    display: block;
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    }
      
.abt-us-hro-cntnr::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.75; /* 75% opacity */
    pointer-events: none; /* Ensures clicks pass through the overlay */
}
.abt-us-hro-sctn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 96px;
    color: #2c3e50;
    font-family: Raleway;
}
/*abt us cpy sctn*/
.abt-us-cpy {
    align-self: stretch;
    position: relative;
    line-height: 30.8px;
    text-transform: uppercase;
    font-weight: 900;
}
.abt-us-cpy-container {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 30.8px;
    text-transform: uppercase;
}
.abt-us-cpy-cntnr {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.abt-us-cpy-sctn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 28px;
    color: #2c3e50;
    font-family: Raleway;
}
/*abt us cpy sctn*/
.abt-us-cpy {
    align-self: stretch;
    position: relative;
    line-height: 30.8px;
    text-transform: uppercase;
    font-weight: 900;
}
.lorem-ipsum-dolor {
    margin: 0;
    text-indent: 25px;
}
.abt-us-cpy-container {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 30.8px;
    text-transform: uppercase;
}
.abt-us-cpy-sctn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 28px;
    color: #2c3e50;
    font-family: Raleway;
}

