/* buttons.css */
.buy-property-button, .sell-my-house-button, .home-hero-search-button {
    border-radius: 10px;
    background-color: #ffd858;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
