.logo-cntnr-icon {
    width: 500px;
    border-radius: 1000px;
    height: 500px;
    object-fit: cover;
}
.logo-section {
    width: 100%;
    position: relative;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

