/*ownr q hro scton*/
.ownr-q-hro {
    width: 811px;
    position: relative;
    line-height: 124.8px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ownr-q-hro-ttl-cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ownr-q-hro-cntnr {
    width: 100%;
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    box-sizing: border-box;
    border: 1px solid #4DB7FE;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    background-image: url('../../assets/images/seller:primaryowner-hero-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}    

.ownr-q-hro-cntnr img {
    display: block;
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    }
      
.ownr-q-hro-cntnr::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.75; /* 75% opacity */
    pointer-events: none; /* Ensures clicks pass through the overlay */
}
.ownr-q-hro-scton {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 96px;
    color: #2c3e50;
    font-family: Raleway;
}
/* ownr q cpy sctn */
.ownr-q-cpy {
    align-self: stretch;
    position: relative;
    line-height: 30.8px;
    text-transform: uppercase;
    font-weight: 900;
}
.ownr-q-cpy1 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 30.8px;
    text-transform: uppercase;
}
.ownr-q-cpy-wrppr {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.ownr-q-cpy-cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.ownr-q-cpy-sctn {
    width: 100%;
    position: relative;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: left;
    font-size: 28px;
    color: #2c3e50;
    font-family: Raleway;
}
/* ownr q sctn */
.full-name-of {
    position: relative;
    text-transform: uppercase;
}
.textarea {
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
}
.textarea7 {
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 200px;
    max-width: 200px;
    min-height: 40px;
    max-height: 40px;
}
.textarea-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 9px;
    color: #e1e1e1;
}
.ownr-firstrow-left {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    min-width: 280px;
    max-width: 280px;
    min-height: 164px;
    max-height: 164px;
}
.textarea4 {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
}
.owner-1 {
    width: 62.4px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.owner-2 {
    width: 64.9px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.owner-4 {
    width: 66.2px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.ownr-varient-firstrow {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 164px;
    max-height: 164px;
}
.thumb {
    width: 16px;
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff;
    height: 16px;
    z-index: 0;
}
.switch {
    width: 34px;
    border-radius: 9999px;
    background-color: #cbd5e0;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    box-sizing: border-box;
    position: relative;
}
.no {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
}
.switch-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}
.please-describe-required {
    position: relative;
}
.textarea16 {
    width: 212px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 212px;
    min-height: 127px;
    max-height: 127px;
    font-size: 9px;
    color: #e1e1e1;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}
.state2 {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #0388c9;
}
.ownr-varient-secondrow-right-child {
    align-self: stretch;
    height: 56px;
}
.ownr-varient-secondrow-right {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    min-width: 280px;
    max-width: 280px;
    min-height: 164px;
    max-height: 164px;
    font-size: 9px;
    color: #e1e1e1;
    font-family: Roboto;
}
.textarea20 {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
    font-size: 9px;
    color: #e1e1e1;
}
.buyer-textarea {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 220px;
    min-height: 20px;
}
.textarea21 {
    flex: 1;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 80px;
    min-height: 20px;
}
.textarea-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.buyer-cc-textarea-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    text-align: center;
    font-size: 9px;
    color: #e1e1e1;
}
.bank-wire-information {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: #0388c9;
}
.ownr-varient-thirdrow-right {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    min-width: 280px;
    max-width: 280px;
    min-height: 164px;
    max-height: 164px;
    font-size: 9px;
    color: #e1e1e1;
}
.ownr-varient-wrppr {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.ownr-varient-cntnr {
    width: 1100px;
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
    border-radius: 24px;
    background-color: #2c3e50;
    border: 1px solid #0388c9;
    box-sizing: border-box;
    height: 692px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ownr-q-cntnr {
    height: 692px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ownr-q-sctn {
    width: 100%;
    position: relative;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    color: #0388c9;
    font-family: Montserrat;
}
input {
    border-color: #4db7fe;
    border-width: 2px;
    border-style: inset;
}
::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-family: Montserrat;
    font-size: 9px;
}
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-family: Montserrat;
    font-size: 9px;
}
.sbmt-bttn-cpy {
    position: relative;
    line-height: 17px;
    text-transform: uppercase;
}
.sbmt-bttn {
    width: 90px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #4db7fe;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 21px;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    color: #2c3e50;
    font-family: Montserrat;
}
.textarea {
    align-self: stretch;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 220px;
    min-height: 20px;
    font-size: 9px;
    color: #ffffff;
}
.textarea5 {
    flex: 1;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    max-width: 80px;
    min-height: 20px;
}
.textarea7 {
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 200px;
    max-width: 200px;
    min-height: 40px;
    max-height: 40px;
}