/* Media queries */
@media (max-width: 992px) {
/*abt us hro sctn*/
.contact-us-page-1200px-abc-home {
    width: 992px !important;
}
.abt-us-hro-sctn {
    width: 992px;
}
.abt-us-cpy-sctn {
    width: 992px;
}
.abt-us-hro-cntnr {
    width: 892px;
    } 
.abt-us-cpy-cntnr {
    width: 892px;
}
@media (max-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 960px;
    }
}

.nav-cntnr {
    width: 892px !important;
}
.nav {
    width: 992px !important;
    
}

.logo-sctn {
    width: 992px
}







}