/*whlslr q hro sctn*/
.whlslr-q-hro {
    position: relative;
    font-weight: 900;
    color: #2C3E50;
    text-align: center;
    font-family: Raleway;
    font-size: 96px;
    font-style: normal;
    line-height: 124.8px; /* 130% */
}
.whlslr-hro-ttl-cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.whlslr-q-hro-cntnr {
    width: 100%;
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    box-sizing: border-box;
    border: 1px solid #4DB7FE;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    background-image: url('../../assets/images/wholesaler-hero-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.whlslr-q-hro-sctn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 96px;
    color: #2c3e50;
    font-family: Raleway;
} 
.whlslr-q-hro-sctn img {
    display: block;
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    }
      
.whlslr-q-hro-sctn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.75; /* 75% opacity */
    pointer-events: none; /* Ensures clicks pass through the overlay */
}
/*whlslr q cpy sctn*/
.whlslr-q-cpy {
    align-self: stretch;
    position: relative;
    line-height: 30.8px;
    text-transform: uppercase;
    font-weight: 900;
}
.whlslr-q-cpy1 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 30.8px;
    text-transform: uppercase;
}
.whlslr-q-cpy-wrppr {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.whlslr-q-cpy-cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.whlslr-q-cpy-sctn {
    width: 100%;
    position: relative;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: left;
    font-size: 28px;
    color: #2c3e50;
    font-family: Raleway;
}
/*whlslr q sctn*/
.wholesaler-s-name {
    position: relative;
    text-transform: uppercase;
}
.textarea {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
    font-size: 9px;
    color: #e1e1e1;
}
.whlslr-firstrow-left {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    min-width: 280px;
    max-width: 280px;
    min-height: 164px;
    max-height: 164px;
}
.textarea1 {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
}
.textarea-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 9px;
    color: #e1e1e1;
}
.owner-1 {
    width: 62.4px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.textarea4 {
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
}
.owner-2 {
    width: 64.9px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.owner-4 {
    width: 66.2px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.whlslr-varient-firstrow {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 164px;
    max-height: 164px;
}
.thumb {
    width: 16px;
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff;
    height: 16px;
    z-index: 0;
}
.switch {
    width: 34px;
    border-radius: 9999px;
    background-color: #cbd5e0;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    box-sizing: border-box;
    position: relative;
}
.no {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
}
.switch-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}
.mdoutlinefileupload-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.mdoutlinefileupload-parent {
    width: 70px;
    border-radius: 6px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    box-sizing: border-box;
    gap: 6px;
}
.icon-container {
    width: 142px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    opacity: 0.4;
    text-align: center;
    font-size: 9px;
    color: #e1e1e1;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}
.whlslr-varient-secondrow-right-child {
    align-self: stretch;
    height: 56px;
}
.textarea13 {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 80px;
    max-height: 80px;
    font-size: 9px;
    color: #e1e1e1;
}
.textarea14 {
    width: 212px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 212px;
    max-width: 212px;
    min-height: 20px;
    max-height: 20px;
    font-size: 9px;
    color: #e1e1e1;
}
.wholesaler-varient-fourthrow-l {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}
.textarea16 {
    width: 212px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 212px;
    max-width: 212px;
    min-height: 80px;
    max-height: 80px;
    font-size: 9px;
    color: #e1e1e1;
}
.switch-cntnr2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}
.textarea18 {
    width: 280px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 280px;
    max-width: 280px;
    min-height: 20px;
    max-height: 20px;
}
.textarea-wrapper {
    width: 220px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 9px;
    color: #e1e1e1;
}
.whlslr-varient-fifthrow-right {
    width: 280px;
    background-color: rgba(255, 255, 255, 0);
    height: 164px;
    min-width: 280px;
    max-width: 280px;
    min-height: 164px;
    max-height: 164px;
}
.whlslr-varient-wrppr {
    width: 1000px;
    height: 1019px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.whlslr-varient-cntnr {
    width: 1100px;
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
    border-radius: 24px;
    background-color: #2c3e50;
    border: 1px solid #4db7fe;
    box-sizing: border-box;
    height: 1119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.whlslr-q-cntnr {
    height: 1119px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.whlslr-q-sctn {
    width: 100%;
    position: relative;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    color: #4db7fe;
    font-family: Montserrat;
}
input {
    border-color: #4db7fe;
    border-width: 2px;
    border-style: inset;
}
::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-family: Montserrat;
    font-size: 9px;
}
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-family: Montserrat;
    font-size: 9px;
}
.sbmt-bttn-cpy {
    position: relative;
    line-height: 17px;
    text-transform: uppercase;
}
.sbmt-bttn {
    width: 90px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #4db7fe;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 21px;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    color: #2c3e50;
    font-family: Montserrat;
}
.textarea5 {
    flex: 1;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    max-width: 80px;
    min-height: 20px;
}
.textarea7 {
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 200px;
    max-width: 200px;
    min-height: 40px;
    max-height: 40px;
}
.textarea9 {
    width: 220px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    opacity: 0.4;
    min-width: 220px;
    max-width: 220px;
    min-height: 40px;
    max-height: 40px;
    }
    .textarea {
        width: 280px;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.9);
        height: 20px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 0px 0px 10px;
        box-sizing: border-box;
        opacity: 0.4;
        min-width: 280px;
        max-width: 280px;
        min-height: 20px;
        max-height: 20px;
        font-size: 9px;
        color: #e1e1e1;
    }